{% extends 'base.html'%}

{% block title %}rede social {% endblock title %}
{% block head %}Minhas redes sociais 
<br> <br><br>

Quem sou eu ? 
<br> <br><br>
<img src="img/unnamed.jpg" alt="foto de perfil"> 

{% endblock head %}
{% block paragrafo %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatum omnis, odit fuga vel nesciunt laborum maxime excepturi quae earum minus cum recusandae voluptates maiores, facere doloribus et libero incidunt.{% endblock paragrafo %}

{% block body %}
<body>
  <h2>Como falar comigo? </h2>
    <ul>
        <li> <img src="img/icone-youtube.png" alt="canal youtube"><a href="https://www.youtube.com/"target='_blank'>meu canal no youtube</a></li>
        <li> <img src="img/icone-facebook.png" alt="pagina do facebook"><a href="https://www.facebook.com/"target='_blank'>minha pagina do facebook</a></li>
        <li> <img src="img/icone-linkedin.png" alt="meu linkedim"><a href="https://www.linkedin.com/"target='_blank'>meu linkedim</a></li>

    </ul>
    
</body>
{% endblock body %}
</html>